* {
    padding: 0px;
    margin: 0px;
    transition: all 0.5s;
}

*::before,
*::after {
    transition: all 0.5s;
}

.tree {
    margin: 6px auto;
	color:green;
}

.tree ul {
    padding-top: 20px;
    position: relative;
    display: flex;
}

.tree ul ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 2px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li {
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
}

.tree li::before,
.tree li::after {
    content: "";
    position: absolute;
    border-top: 2px solid #ccc;
    width: 50%;
    height: 20px;
    top: 0px;
    right: 50%
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 2px solid #ccc;
}

.tree li:only-child {
    padding-top: 0;
}

.tree li:only-child::before,
.tree li:only-child::after {
    display: none;
}

.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}

.tree li:last-child::before {
    border-right: 2px solid #ccc;
    border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
}

.tree li a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    white-space: nowrap;
    font-weight: bold;
}

.tree li a:hover,
.tree li a:hover+ul li a {
    background-color: #c8e4f8;
    color: #000;
    border: 2px solid #94a0b4;
    box-shadow: 3px 3px 5px #ccc;
}

.tree li a:hover+ul li::before,
.tree li a:hover+ul li::after,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before {
    border-color: green;
}